<div class="advert-add-box">
  <div>
    选择媒体:
   <md-select placeholder="选择媒体">
     <md-option value="valuie">value</md-option>
     <md-option value="valuie">value</md-option>
     <md-option value="valuie">value</md-option>
   </md-select>
  </div>
  <div>
    广告位名称
    <md-input-container>
      <input mdInput placeholder="广告位名称" required/>
    </md-input-container>
    <span>限20个汉字或40个字符</span>
  </div>

  <div>
    广告位类型
    <md-select placeholder="广告位类型">
      <md-option value="valuie">value</md-option>
      <md-option value="valuie">value</md-option>
      <md-option value="valuie">value</md-option>
    </md-select>
  </div>

  <div>
    <button md-raised-button>返回</button>
    <button md-raised-button>保存</button>
  </div>

</div>
