<div>
  <table class="table">
    <thead>
    <tr>
      <td>广告ID</td>
      <td>广告位名称</td>
      <td>所属应用&ID</td>
      <td>状态</td>
      <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let advert of mAdverts">
      <td>{{advert.id}}</td>
      <td>{{advert.name}}</td>
      <td>{{advert.appName}}</td>
      <td>
        <md-slide-toggle [checked]="advert.status" [(ngModel)]="advert.status" class="advert-slide-toggle">
           <span *ngIf="advert.status">
            开启中
          </span>
          <span *ngIf="advert.status == false">
            关闭中
          </span>
        </md-slide-toggle>
      </td>
      <td>操作</td>
    </tr>
    </tbody>
  </table>
</div>
