<div>
  <div>
    <span>姓名</span>
    <md-input-container>
      <input mdInput type="text" required placeholder="姓名"/>
    </md-input-container>
  </div>
  <div>
    <span>手机</span>
    <md-input-container>
      <input mdInput type="text" required placeholder="手机"/>
    </md-input-container>
  </div>
  <div>
    <span>Email</span>
    <md-input-container>
      <input mdInput type="text" required placeholder="Email"/>
    </md-input-container>
  </div>
  <div>
    <span>QQ</span>
    <md-input-container>
      <input mdInput type="text" required placeholder="QQ"/>
    </md-input-container>
  </div>
  <div>
    <span>密码</span>
    <button md-button>修改密码</button>
  </div>
  <div>
    <span>联系地址</span>
    <span>
      <md-select placeholder="市区">
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
      </md-select>
    </span>
    <span>
      <md-select placeholder="市区">
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
      </md-select>
    </span>
    <span>
      <md-select placeholder="市区">
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
        <md-option value="value">value</md-option>
      </md-select>
    </span>

  </div>

  <div style="margin-top: 20px;">
    <button md-raised-button class="button-save-color">保存</button>
  </div>

</div>
