<div class="media-search-div">

  <app-mediasearch></app-mediasearch>

</div>

<div class="media-search-div">

  <md-card class="media-search-mdcard">
    <table class="table">
      <thead class="table">
      <tr>
        <td>媒体ID</td>
        <td>媒体名称</td>
        <td>分类</td>
        <td>系统平台</td>
        <td>状态</td>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
      </tr>
      <tr>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
      </tr>
      <tr>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
      </tr>
      <tr>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
        <td>d</td>
      </tr>
      </tbody>
    </table>
  </md-card>

</div>
