<md-card class="dash-div">

  <div class="dash-box box-board">
    <div>昨日预估收益</div>
    <div><span class="box-font-num">0</span><span>元</span></div>
  </div>
  <div class="dash-box box-board">
    <div>近七日收益</div>
    <div><span class="box-font-num">0</span><span>元</span></div>
  </div>
  <div class="dash-box box-board">
    <div>本月累计收益</div>
    <div><span class="box-font-num">0</span><span>元</span></div>
  </div>
  <div class="dash-box">
    <div>账号总收益</div>
    <div><span class="box-font-num">0</span><span>元</span></div>
  </div>

</md-card>
