.dash-div {
  padding: 10px;
}

.dash-box {
  display: inline-block;
  width: 24%;
  text-align: center;
}

.dash-box div:first-child {
  padding: 10px;
  font-size: 130%;
}

.dash-box div:last-child span {
  color: red;
}

.dash-box div:last-child {
  padding: 0px 10px 10px 10px;
}


.box-font-num{
  font-size:130%;
}

.dashboard-bar{
  width:1px;
  display: inline-block;
  background-color: #ccc;
  height:50px;
}




